#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

:root {
  color-scheme: light dark;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #ffffffaa);
}

.hidden {
  display: none;
}

.card {
  padding: 2em;
}

.header {
  border-bottom: 1px #ddd;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header a {
  color: rgb(255, 255, 255);
  background-color: #007d41;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 24px;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s, transform 0.3s;
}

.header a:hover {
  background-color: #00532b;
  transform: scale(1.05);
  color: white;
}

.navigation {
  display: flex;
  gap: 10px;
  align-items: center;
}

.navigation .avatar {
  width: 30px;
  height: auto;
  border-radius: 25%;
  vertical-align: middle;
  object-fit: cover;
}

.logged-in-user {
  color: gold !important;
  font-weight: bolder;
  border: 2px solid gold;
  padding: 2px 8px;
}

.article-card {
  border: 2px solid transparent;
  border-radius: 12px;
  overflow: hidden;
  margin: 16px;
  padding: 16px;
  color: #050505;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-family: Arial, Helvetica, sans-serif;
}

.article-card img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 12px;
}

.article-card .author-in-topic {
  font-size: 14px;
  color: #555555;
}

.article-card .num-votes {
  font-style: ;
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin: 8px;
}

.article-card h3 {
  font-size: 24px;
}

.article-card p {
  font-size: 14px;
  margin: 8px;
}

.article-card .author-topic {
  color: #2c783e;
}

.article-card .body {
  font-size: 16px;
  text-align: left;
}

.article-link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  transition: text-shadow 0.3s ease;
}

.article-link:hover {
  color: currentColor;

  text-shadow: 0 0 5px rgba(11, 66, 16, 0.2);
}

.comments-list {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

.comment-card {
  border: 2px solid transparent;
  margin: 14px;
  padding: 8px;
  text-align: left;
  border-radius: 12px;
  box-shadow: 0 4px 8x rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.comment-card .header {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 4px;
  padding: 8px;
}

.comment-card .body {
  margin: 12px 20px;
}

.comment-card .time-since-posted {
  margin: 0;
  color: #465042;
}

.comment-card .avatar {
  margin-right: 8px;
}

.comment-card .body {
  margin: 9px 20px;
}

.comment-card .votes {
  font-size: 16px;
  font-weight: normal;
  color: rgba(60, 74, 55, 0.95);
}

.comment-card .dot {
  color: #465042;
  margin: 8px;
}

.votes {
  display: flex;
  align-items: center;
}

.vote-button {
  font-size: 20px;
  padding: 1px;
  transition: color 0.3s ease;
  border-radius: 16px;
  background-color: whitesmoke;
}

.upvote {
  color: green;
}

.downvote {
  color: red;
}

.expandable {
  color: inherit;
  padding: 12px;
  border: none;
  text-align: left;
  font-size: 16px;
}

.expandable .submit {
  background-color: #00532b;
  font-size: 12px;
  font-weight: bolder;
}

.comment-form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 14px;
  padding: 4px;
  text-align: left;
  border-radius: 4px;
  overflow: hidden;
  max-width: 200px;
  width: 100%;
}

.comment-form textarea[type="text"] {
  padding: 12px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: height 0.3s ease;
  flex-grow: 1;
  resize: vertical;
  min-height: 40px;
}

.comment-form textarea[type="text"]:focus {
  min-height: 100px;
}

.comment-form.expanded {
  max-width: 90%;
}

.comment-form .submit {
  margin-top: 10px;
  cursor: pointer;
  background-color: #008143;
  font-size: 12px;
  font-weight: bolder;
  border-radius: 4px;
  border: none;
  align-self: flex-end;
}

.list-button {
  background: none;
  border: none;
  font-size: 18px;
}

.posted-comment.flash {
  animation: flash 1.5s ease-out;
}

@keyframes flash {
  0% {
    background-color: rgba(0, 147, 12, 0.8);
    border-radius: 12px;
  }
  100% {
    background-color: transparent;
  }
}

.delete {
  background-color: rgb(238, 0, 0);
  color: whitesmoke;
  font-size: 12px;
  font-weight: bold;
}

.topic-card {
  border: 2px solid transparent;
  border-radius: 14px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.topic-card-content {
  padding: 8px;
  background-color: #07a358;
}

.topic-card-title {
  margin: 0;
  font-size: 2em;
  color: whitesmoke;
}

.topic-card-description {
  margin: 0;
  font-size: 1.4em;
  color: rgb(218, 255, 231);
}

.topic-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.dropdown {
  display: flex;
  gap: 10px;
}

.dropdown select {
  background-color: #07924f;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 20px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-align: center;
  display: inline-flex;
  padding-right: 30px;
}

.custom-select {
  position: relative;
  display: inline-block;
}

.custom-select::after {
  content: "🢗";
  font-size: 18px;
  color: white;
  padding: 12px, 16px;
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  pointer-events: none;
}

.custom-select option:hover {
  background-color: #07a358;
}

.custom-select select:focus {
  background-color: #07a358;
}
